<template>
    <div class="modal-container">
        <div class="modal-content">
            <input type="text" v-model="syncedTitle" class="text"><br>
            <input type="date" v-model="synedDeadline" class="date"><br>
            <button type="button" class="update-button" @click="closeModal">
                更新
            </button>
            <button type="button" class="close-button" @click="closeModal">
                閉じる           
            </button>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue, PropSync } from 'vue-property-decorator'

@Component
export default class ModalWindowTodo extends Vue {

    // オブジェクト!：非nullアサーション：強制的にnullではないことにする
    @Prop({ type: Number, required: false })id?: number | null
    @Prop({ type: Number, required: true })status!: number
    @PropSync('title', { type: String }) readonly syncedTitle!: string
    @PropSync('deadline', { type: String }) readonly synedDeadline!: string

   closeModal() {
       this.$emit('close')
   }

}

</script>

<style scoped lang="scss">

    $white: white;

    /* 画面全体を暗くする透過背景 */
    .modal-container {
        position: fixed; // 画面の特定の位置に要素を固定させる
        background-color:rgba(88, 88, 88, 0.466);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000; // 要素の重なる順番を指定（数値が大きいほど手前に表示）
    }

    /* ポップアップ本体 */
    .modal-content {
        display: inline-block;
        position: fixed;
        height: 20%;
        width: 30%;
        z-index: 1100;
        background-color: $white;
        padding: 2%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); // translate（横軸,縦軸）：要素を水平方向に再配置
        overflow-y: scroll; // 要素が上下の境界から溢れた時にどうするかの処理
        border: solid 3px rgb(119, 119, 119);
        border-radius: 10px;
        text-align: center;

        .text {
            width: 180px;
            margin: 15px 5px 10px 10px;
        }

        .date {
            width: 180px;
            margin: 0px 5px 10px 10px;
        }

        .update-button {
            width: 80px;
            margin: 5px 13px;
            border: solid 2px;
            border-radius: 10px;
            color: $white;
            background-color: rgba(95, 158, 160, 0.781);
        }

        .close-button {
            width: 80px;
            margin: 5px 13px;
            border: solid 2px;
            border-radius: 10px;
            color: $white;
            background-color: rgb(255, 145, 145);
        }

        // カーソルを合わせた時に透過する 
        :hover {
            opacity: 0.6; // 透過度
        }

    }

    

</style>