<template>
  <div>
    <!-- ModalWindowを呼び出す v-show：要素を見えなくする -->
    <modal-window 
        v-show="showContent" 
        v-bind.sync="modalWindowTodo"
        @close="closeModal" 
        @update="updateModal" 
    />

    <h1>TodoList</h1>
    <!-- @submit.prevent：preventDefaultメソッドが実行されて、ブラウザ本来の挙動(formによる送信)が停止される -->
    <!-- 今回は @click(=v-on:click) を使用 -->
    <form class="add-task">
      <input type="text" v-model="newTodo" class="text" required><br>
      <input type="date" v-model="date" class="date" required><br>
      <button type="submit" class="add-button" @click="onClickButton">
        追加
      </button>
      
      <!--デバック用-->
      <!-- <p>{{ newTodo }}</p> -->
    </form>

    <!-- v-for：リストレンダリング item（要素）in items（配列）-->
    <div class="list" v-for="(todo, index) in todos" :key="todo.id">
      <!-- todoのリスト表示 -->
      <p>{{ todo.id }}</p>
      <p>{{ todo }}</p>

      <!-- 完了ボタン -->
      <button type="button" @click="completeButton(todo)">
        完了
      </button>

      <!-- 編集ボタン -->
      <button type="button" @click="openModalButton(index)">
        編集
      </button>

      <!-- 削除ボタン -->
      <button type="button" @click="doRemoveButton(index)">
        削除
      </button>
    </div>
      
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ModalWindow from "./components/ModalWindow.vue" 

// Todos型の定義
export interface Todos {
  id: number | null
  title: string
  status: number
  deadline: string
}

@Component({
  components: {
    ModalWindow
  }
})

export default class App extends Vue {
  newTodo = ''
  date = ''
  // 57行目で型定義
  todos: Todos[] = []
  // boolean：true or falseのデータ型
  showContent: boolean = false
  // 47行目と同じ形でModalWindow用に型定義
  modalWindowTodo: Todos = {
    id: null,
    title: '',
    status: 1,
    deadline: ''
  }

  onClickButton() {
    // 追加ボタンが押されたときの処理

    // length:要素数取得(newTodo/dateが1文字以上であれば)
    if (this.newTodo.length > 0 && this.date.length > 0) {

      // newTodo(変数:箱)にidを付与する
      const newTodo = {
        id: this.todos.length,
        title: this.newTodo,
        status: 1, // デフォルト(1)が"作業中"
        deadline: this.date
      }

      // newTodoをtodosに追加する
      this.todos.push(newTodo)
    }

    // 入力後newTodo/dateの中身を空にする
    this.newTodo = ''
    this.date = ''
  }

  openModalButton(index: number) {
    // 編集ボタンが押された時の処理

    // 配列の要素の取得（配列[インデックス]）
    this.modalWindowTodo = this.todos[index]
    // 取得した要素の保存

    // modalの起動をする
    this.showContent = true
  }

  // modalを閉じる
  closeModal() {
    this.showContent = false
  }

  // number型定義
  doRemoveButton(index: number) {
    // 削除ボタンが押された時の処理

    // splice(変更する配列の先頭,取り除く要素の個数)
    this.todos.splice(index, 1)
  }

}


</script>

<style scoped lang="scss">
h1 {
  text-align: center;
}

.add-task {
  width: 100%;
  text-align: center;

  .text, .date {
    width: 200px;
    margin: 5px;
  }

  .add-button {
    text-align: center;
    margin: 5px;
    width: 80px;
    margin: 5px 13px;
    border: solid 2px ;
    border-radius: 10px;
    color: white;
    background-color: rgba(95, 158, 160, 0.781);
  }

  // カーソルを合わせた時に透過する 
  :hover {
      opacity: 0.6; // 透過度
  }
}

body {
  // デフォルトのcssをなくすため 
  margin: 0;
  padding: 0;
}
</style>